<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>
</head>
<body>
  <div>
    <h1>Notes</h1>
  </div>

  <div>
    <form>
      <input id="note-text" type="text" placeholder="Enter note here" autocomplete="off" required>
      <input type="submit" value="Add Note">
    </form>
  </div>

  <div id="notes-container"></div>

  <script src="/script.js"></script>
</body>
</html>